<div class="container">
	<h2>Follower Users</h2>
		<thead>
			<tr>
				<th>image</th>
				<th>name</th>
			</tr>
		</thead>
		<% @relationships.each do |relationship| %>
		<tbody>
			<tr>
				<td><%= relationship.user.profile_image %></td>
				<td><%= relationship.user.name %></td>
				<td><%= link_to "フォロー数 #{relationship.user.count}", user_path(user.id) %></td>
				<td><%= link_to "フォロワー数 #{relationship.follower.count}", user_relationships_path(user.id) %></td>
				<td><%= link_to "Show", user, class: "user_#{user.id}" %></td>
			</tr>
		</tbody>
	<% end %>
</div>
